@(user: java.util.UUID)(implicit request: Request[AnyContent], session: Session, flash: Flash)

@settingPanel(key: models.settings.SettingKey, colWidth: Int = 12)(content: Html) = {
  <div class="col s12 m@colWidth">
    <div class="setting-panel">
      <strong>@key.title</strong>
      <div class="setting-input">@content</div>
      <em>@key.description</em>
    </div>
  </div>
}

@layout.admin(user, "status", "System Preferences") {
  <form action="@controllers.admin.routes.SettingsController.saveSettings()" method="post">
    <div class="content-panel">
      <div class="panel-title"><i class="fa @models.template.Icons.settings"></i> System Preferences</div>

      <div class="row">
      </div>
    </div>
    <div class="panel-action">
      <button class="right btn theme waves-effect waves-light" type="submit">Save</button>
      <a class="right theme-text btn-flat" href="@controllers.admin.routes.AdminController.index()">Cancel</a>
      <div style="clear: both;"></div>
    </div>
  </form>
}
